body {
  min-height: 2000px;
}

.navbar-static-top {
  margin-bottom: 19px;
}
/*Textarea not resizeable*/
textarea {
    resize:none
}

.img-circle{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    

}
